header {
  background-image: url("../img/gothamMarkerOpA.jpg");
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
  padding-top: 8%;
}

header .centrado {
  text-align: center;
  font-weight: bold;
  /*background-color: rgba(0, 154, 178, 0.81);*/
  color: #F8E2D1;
  max-width: 95%;
  margin: auto;
  /*border: 2px solid black;*/
  border-radius: 10px;
}

header .centrado h2 {
  font-family: "Vollkorn SC", serif;
  font-size: 40px;
  /*text-shadow: -2px 0 #F96F00, 0 2px #F96F00, 2px 0 #F96F00, 0 -2px #F96F00;*/
  text-shadow: -2px 2px #000000, 0px 2px #000000, 2px 2px #000000, -2px 0px #000000, 0px 0px #000000, 2px 0px #000000, -2px -2px #000000, 0px -2px #000000, 2px -2px #000000;
}

header .centrado h1 {
  font: normal 36px 'Cookie', cursive;
  text-shadow: -1px 1px #F96F00, 0px 1px #F96F00, 1px 1px #F96F00, -1px 0px #F96F00, 0px 0px #F96F00, 1px 0px #F96F00, -1px -1px #F96F00, 0px -1px #F96F00, 1px -1px #F96F00;
  font-size: 100px;
}

header .centrado h1 label {
  color: #F96F00;
  text-shadow: -1px 1px #F8E2D1, 0px 1px #F8E2D1, 1px 1px #F8E2D1, -1px 0px #F8E2D1, 0px 0px #F8E2D1, 1px 0px #F8E2D1, -1px -1px #F8E2D1, 0px -1px #F8E2D1, 1px -1px #F8E2D1;
}

a {
  text-decoration: none;
  color: #F96F00;
}

/* ------------------------------------------------- footer ------------------------------------*/
.footer-distributed {
  background-color: #000000;
  -webkit-box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
          box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  text-align: left;
  font: bold 16px sans-serif;
  padding: 55px 50px;
  /* Footer left */
  /* The company logo */
  /* Footer links */
  /* Footer Center */
  /* Footer Right */
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right {
  display: inline-block;
  vertical-align: top;
}

.footer-distributed .footer-left {
  width: 40%;
}

.footer-distributed .footer-left .logo-footer {
  background-image: url("../img/logo.png");
  height: 200px;
  background-size: 150px;
  background-repeat: no-repeat;
}

.footer-distributed h3 {
  color: #ffffff;
  font: normal 36px 'Cookie', cursive;
  margin: 0;
}

.footer-distributed h3 span {
  color: #F96F00;
}

.footer-distributed .footer-links {
  color: #ffffff;
  margin: 20px 0 12px;
  padding: 0;
}

.footer-distributed .footer-links a {
  display: inline-block;
  line-height: 1.8;
  text-decoration: none;
  color: inherit;
}

.footer-distributed .footer-company-name {
  color: #8f9296;
  font-size: 14px;
  font-weight: normal;
  margin: 0;
}

.footer-distributed .footer-center {
  width: 35%;
}

.footer-distributed .footer-center i {
  background-color: #33383b;
  color: #ffffff;
  font-size: 25px;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  text-align: center;
  line-height: 42px;
  margin: 10px 15px;
  vertical-align: middle;
  color: #009AB2;
}

.footer-distributed .footer-center i.fa-envelope {
  font-size: 17px;
  line-height: 38px;
}

.footer-distributed .footer-center p {
  display: inline-block;
  color: #ffffff;
  vertical-align: middle;
  margin: 0;
}

.footer-distributed .footer-center p span {
  display: block;
  font-weight: normal;
  font-size: 14px;
  line-height: 2;
}

.footer-distributed .footer-center p a {
  color: #F96F00;
  text-decoration: none;
}

.footer-distributed .footer-right {
  width: 20%;
}

.footer-distributed .footer-company-about {
  line-height: 20px;
  color: #92999f;
  font-size: 13px;
  font-weight: normal;
  margin: 0;
}

.footer-distributed .footer-company-about span {
  display: block;
  color: #ffffff;
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 20px;
}

.footer-distributed .footer-icons {
  margin-top: 25px;
}

.footer-distributed .footer-icons a {
  display: inline-block;
  width: 35px;
  height: 35px;
  cursor: pointer;
  background-color: #33383b;
  border-radius: 2px;
  font-size: 20px;
  color: #009AB2;
  /*color: $white;*/
  text-align: center;
  line-height: 35px;
  margin-right: 3px;
  margin-bottom: 5px;
}

.footer-distributed .footer-icons a i {
  margin-top: 8px;
}

.footer-distributed .footer-icons a:hover {
  color: #F96F00;
}

/* If you don't want the footer to be responsive, remove these media queries */
@media (max-width: 880px) {
  .footer-distributed {
    font: bold 14px sans-serif;
  }
  .footer-distributed .footer-left,
  .footer-distributed .footer-center,
  .footer-distributed .footer-right {
    display: block;
    width: 100%;
    margin-bottom: 40px;
    text-align: center;
  }
  .footer-distributed .footer-center i {
    margin-left: 0;
  }
  .footer-distributed .logo-footer {
    background-position: center;
  }
}

/* -------------------------------------NAVBAR STYLE-------------------------------------------- */
/*---- perfil----*/
.glyphicon {
  margin-bottom: 10px;
  margin-right: 10px;
}

small {
  display: block;
  line-height: 1.428571429;
  color: #999;
}

.well-sm {
  width: 400px;
  margin: 5px;
}

.navbar {
  margin-bottom: 0px;
}

.navbar-form input, .form-inline input {
  width: auto;
}

.navbar-inverse {
  border: 0px;
  background-color: #ffffff;
}

.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > li > a:hover,
.navbar-inverse .navbar-brand:hover {
  color: #F96F00;
}

.navbar-inverse .navbar-nav > li > a {
  color: rgba(0, 0, 0, 0.5);
}

.navbar-inverse .navbar-toggle {
  border-color: rgba(0, 0, 0, 0.3);
}

.navbar-inverse .navbar-toggle:hover {
  background-color: rgba(0, 0, 0, 0.3);
}

.navbar-inverse .navbar-toggle:hover .icon-bar {
  background-color: #F96F00;
}

.navbar-inverse .navbar-toggle:focus {
  background-color: rgba(0, 0, 0, 0.5);
}

.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:focus {
  background-color: rgba(0, 0, 0, 0.3);
}

.navbar-inverse .navbar-nav > .active > a {
  background-color: rgba(0, 0, 0, 0.5);
}

.navbar-inverse .container {
  padding-top: 8px;
}

.navbar-toggle {
  background-color: rgba(0, 0, 0, 0.5);
}

#nav.affix {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
}

.navbar-dropdown {
  margin-top: 12px;
  text-decoration: none;
  list-style-type: none;
  margin-right: 20px;
}

.navbar-dropdown a {
  color: rgba(0, 0, 0, 0.5);
}

.navbar-dropdown a:hover {
  color: #F96F00;
  text-decoration: none;
}

/* -------------------------------------SECTIONS-------------------------------------------- */
.sectionHeight {
  background-image: url("../img/subtle_white_feathers.png");
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.icons {
  color: #F96F00;
  margin: auto;
  max-width: 90%;
  text-align: center;
}

.icons i {
  padding-left: 40px;
  padding-right: 40px;
}

.form .well {
  background-color: #f5f5f54a;
}

.form #errores {
  margin-top: 20px;
}

.form .form-width {
  max-width: 800px;
  margin: auto;
}

.form #texto {
  resize: none;
  height: 150px;
}

#servicios .distributed-icons {
  margin: auto;
}

.btn-primary {
  color: #ffffff;
  background-color: #F96F00;
  border-color: #F96F00;
}

.vg {
  margin-top: 50px;
}

.parallax {
  padding-left: 10px;
  padding-right: 10px;
  /* The image used */
  background-image: url("../img/1-carretera.jpeg");
  /* Set a specific height */
  height: 500px;
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.parallax .descripcionServicio {
  max-width: 800px;
  margin: auto;
  text-align: center;
  color: white;
  text-shadow: 1px 1px #F96F00;
  padding-top: 10%;
}

.parallax .descripcionServicio h1, .parallax .descripcionServicio h2 {
  font-weight: bold;
}

hr {
  border-top: 1px solid #337ab7;
  width: 80%;
}

/*-------------------- COMENTARIO USUARIOS ---------------------------------------*/
.content {
  padding-top: 30px;
}

/* Heading */
.heading {
  z-index: 1;
  position: relative;
  text-align: center;
  margin-bottom: 100px;
}

.heading h2 {
  font-size: 40px;
  font-weight: 500;
  margin: 0 0 20px;
  color: #444;
}

.heading p {
  font-size: 16px;
  font-weight: 300;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  color: #8693a7;
}

.heading:after {
  left: 50%;
  height: 3px;
  width: 50px;
  content: " ";
  bottom: -35px;
  margin-left: -25px;
  position: absolute;
  background: #F96F00;
}

/* Team Members */
.team-members {
  width: 100%;
  cursor: pointer;
  overflow: hidden;
  position: relative;
  margin-bottom: 35px;
}

.team-members .team-avatar {
  position: relative;
}

.team-members .team-avatar img {
  display: block;
  margin: 0 auto;
  text-align: center;
}

.team-members .team-avatar:after {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  content: " ";
  position: absolute;
  background: rgba(129, 129, 129, 0.1);
  -webkit-transition-duration: 300ms;
          transition-duration: 300ms;
  -webkit-transition-property: all;
  transition-property: all;
  -webkit-transition-timing-function: cubic-bezier(0.7, 1, 0.7, 1);
          transition-timing-function: cubic-bezier(0.7, 1, 0.7, 1);
}

.team-members .team-desc {
  left: auto;
  bottom: 0;
  width: 100%;
  padding: 0 20px;
  position: absolute;
  opacity: 0;
  color: #ffffff;
  -webkit-transform: translate3d(0, 10%, 0);
  transform: translate3d(0, 10%, 0);
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}

.team-members .team-desc h4 {
  font-size: 22px;
  font-weight: 600;
  margin: 0 0 10px;
  color: #ffffff;
}

.team-members .team-desc span {
  display: block;
  font-size: 13px;
  font-weight: 600;
  text-transform: uppercase;
  color: #ffffff;
}

.team-members:hover .team-avatar:after {
  background: rgba(47, 60, 72, 0.5);
  -webkit-transition-duration: 300ms;
          transition-duration: 300ms;
  -webkit-transition-property: all;
  transition-property: all;
  -webkit-transition-timing-function: cubic-bezier(0.7, 1, 0.7, 1);
          transition-timing-function: cubic-bezier(0.7, 1, 0.7, 1);
}

.team-members:hover .team-desc {
  -webkit-transform: translate3d(0, -5%, 0);
  transform: translate3d(0, -5%, 0);
  -webkit-transform: translate3d(0, -10%, 0);
  transform: translate3d(0, -10%, 0);
}

.team-members:hover .team-desc {
  opacity: 1;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

/*------------------------ PRICING -----------------------------------*/
/*============================================================
BACKGROUND COLORS
============================================================*/
.db-bk-color-one {
  background-color: #f55039;
}

.db-bk-color-two {
  background-color: #337ab7;
}

.db-bk-color-three {
  background-color: #47887E;
}

.db-bk-color-six {
  background-color: #F59B24;
}

/*============================================================
PRICING STYLES
==========================================================*/
.db-padding-btm {
  width: 100%;
  margin: auto;
}

.db-button-color-square {
  color: #ffffff;
  background-color: rgba(0, 0, 0, 0.5);
  border: none;
  border-radius: 0px;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
}

.db-button-color-square:hover {
  color: #ffffff;
  background-color: rgba(0, 0, 0, 0.5);
  border: none;
}

.db-pricing-eleven {
  margin-bottom: 30px;
  margin-top: 50px;
  text-align: center;
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  color: #ffffff;
  line-height: 30px;
}

.db-pricing-eleven ul {
  list-style: none;
  margin: 0;
  text-align: center;
  padding-left: 0px;
}

.db-pricing-eleven ul li {
  padding-top: 20px;
  padding-bottom: 20px;
  cursor: pointer;
}

.db-pricing-eleven ul li i {
  margin-right: 5px;
}

.db-pricing-eleven .price {
  background-color: rgba(0, 0, 0, 0.5);
  padding: 40px 20px 20px 20px;
  font-size: 60px;
  font-weight: 900;
  color: #ffffff;
}

.db-pricing-eleven .price small {
  color: #B8B8B8;
  display: block;
  font-size: 12px;
  margin-top: 22px;
}

.db-pricing-eleven .type {
  background-color: #52E89E;
  padding: 50px 20px;
  font-weight: 900;
  text-transform: uppercase;
  font-size: 30px;
}

.db-pricing-eleven .pricing-footer {
  padding: 20px;
}

.db-pricing-eleven.popular {
  margin-top: 10px;
}

.db-pricing-eleven.popular .price {
  padding-top: 80px;
}
