$naranja: #F96F00;
$beige: #F8E2D1;
$white: #ffffff;
$negro: #000000;
$negro2: rgba(0, 0, 0, 0.50);
$azul: #009AB2;
$azul2: #337ab7;

header{
  background-image: url("../img/gothamMarkerOpA.jpg");
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
  padding-top: 8%;
  .centrado {
    text-align: center;
    font-weight: bold;
    /*background-color: rgba(0, 154, 178, 0.81);*/
    color: $beige;
    max-width: 95%;
    margin: auto;
    /*border: 2px solid black;*/
    border-radius: 10px;
    h2{
      font-family: "Vollkorn SC", serif;
      font-size: 40px;
      /*text-shadow: -2px 0 #F96F00, 0 2px #F96F00, 2px 0 #F96F00, 0 -2px #F96F00;*/
      text-shadow:
              -2px 2px $negro,
              0px 2px $negro,
              2px 2px $negro,
              -2px 0px $negro,
              0px 0px $negro,
              2px 0px $negro,
              -2px -2px $negro,
              0px -2px $negro,
              2px -2px $negro;
    }
    h1{
      font: normal 36px 'Cookie', cursive;
      text-shadow:
              -1px 1px $naranja,
              0px 1px $naranja,
              1px 1px $naranja,
              -1px 0px $naranja,
              0px 0px $naranja,
              1px 0px $naranja,
              -1px -1px $naranja,
              0px -1px $naranja,
              1px -1px $naranja;
      font-size: 100px;

      label{
        color: $naranja;
        text-shadow:
          -1px 1px $beige,
          0px 1px $beige,
          1px 1px $beige,
          -1px 0px $beige,
          0px 0px $beige,
          1px 0px $beige,
          -1px -1px $beige,
          0px -1px $beige,
          1px -1px $beige;
      }
    }
  }
} //End of header

a {
    text-decoration: none;
    color: $naranja;
}


/* ------------------------------------------------- footer ------------------------------------*/


.footer-distributed{
    background-color: $negro;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
    box-sizing: border-box;
    width: 100%;
    text-align: left;
    font: bold 16px sans-serif;
    padding: 55px 50px;

    .footer-left,
    .footer-center,
    .footer-right{
        display: inline-block;
        vertical-align: top;
    }

    /* Footer left */

    .footer-left{
        width: 40%;

        .logo-footer{
          background-image: url("../img/logo.png");
          height: 200px;
          background-size: 150px;
          background-repeat:no-repeat;

        }
    }

    /* The company logo */

    h3{
      color:  $white;
      font: normal 36px 'Cookie', cursive;
      margin: 0;

      span{
        color:  $naranja;
      }
    }

  /* Footer links */

  .footer-links{
    color:  $white;
    margin: 20px 0 12px;
    padding: 0;

    a{
      display:inline-block;
      line-height: 1.8;
      text-decoration: none;
      color:  inherit;
    }
  }

  .footer-company-name{
    color:  #8f9296;
    font-size: 14px;
    font-weight: normal;
    margin: 0;
  }

  /* Footer Center */

  .footer-center{
    width: 35%;

    i{
      background-color: #33383b;
      color: $white;
      font-size: 25px;
      width: 38px;
      height: 38px;
      border-radius: 50%;
      text-align: center;
      line-height: 42px;
      margin: 10px 15px;
      vertical-align: middle;
      color: $azul;
    }
    i.fa-envelope{
      font-size: 17px;
      line-height: 38px;
    }
    p{
      display: inline-block;
      color: $white;
      vertical-align: middle;
      margin:0;
      span{
        display:block;
        font-weight: normal;
        font-size:14px;
        line-height:2;
      }
      a {
        color: $naranja;
        text-decoration: none;;
      }

    }
  }

  /* Footer Right */

  .footer-right{
    width: 20%;
  }

  .footer-company-about{
    line-height: 20px;
    color:  #92999f;
    font-size: 13px;
    font-weight: normal;
    margin: 0;
    span{
      display: block;
      color: $white;
      font-size: 14px;
      font-weight: bold;
      margin-bottom: 20px;
    }
  }
  .footer-icons{
    margin-top: 25px;
    a {
      display: inline-block;
      width: 35px;
      height: 35px;
      cursor: pointer;
      background-color: #33383b;
      border-radius: 2px;

      font-size: 20px;
      color: $azul;
      /*color: $white;*/
      text-align: center;
      line-height: 35px;

      margin-right: 3px;
      margin-bottom: 5px;
      i {
        margin-top: 8px;
      }
    }
    a:hover{
      color: $naranja;
    }
  }

}


/* If you don't want the footer to be responsive, remove these media queries */

@media (max-width: 880px) {

    .footer-distributed{
        font: bold 14px sans-serif;
      .footer-left,
      .footer-center,
      .footer-right{
        display: block;
        width: 100%;
        margin-bottom: 40px;
        text-align: center;
      }
      .footer-center i{
        margin-left: 0;
      }
      .logo-footer{
        background-position: center;
      }
    }

}


/* -------------------------------------NAVBAR STYLE-------------------------------------------- */
/*---- perfil----*/
.glyphicon {  margin-bottom: 10px;margin-right: 10px;}

small {
    display: block;
    line-height: 1.428571429;
    color: #999;
}
.well-sm {
    width: 400px;
    margin: 5px;
}

.navbar {
    margin-bottom: 0px;
}

.navbar-form input, .form-inline input {
    width:auto;
}

.navbar-inverse{
  border: 0px;
  background-color: $white;
  .navbar-nav > .active > a:hover,
  .navbar-nav > li > a:hover,
  .navbar-brand:hover{
    color: $naranja;
  }
  .navbar-nav > li > a {
    color: $negro2;
  }
  .navbar-toggle {
    border-color: rgba(0, 0, 0, 0.3);
  }
  .navbar-toggle:hover {
    background-color: rgba(0, 0, 0, 0.3);
    .icon-bar {
      background-color: $naranja;
    }
  }
  .navbar-toggle:focus {
    background-color: $negro2;
  }
  .navbar-nav > .active > a:hover,
  .navbar-nav > .active > a:focus{
    background-color: rgba(0, 0, 0, 0.3);
  }
  .navbar-nav > .active > a{
    background-color: $negro2;
  }
  .container {
    padding-top: 8px;
  }
} //end of navbar-inverse

.navbar-toggle{
    background-color: $negro2;
}

#nav.affix {
    position: fixed;
    top: 0;
    width: 100%;
    z-index:10;
}
.navbar-dropdown {
    margin-top: 12px;
    text-decoration: none;
    list-style-type: none;
    margin-right: 20px;
    a {
      color: $negro2;
    }
    a:hover {
      color: $naranja;
      text-decoration: none;
    }
}


/* -------------------------------------SECTIONS-------------------------------------------- */

.sectionHeight {
    background-image: url('../img/subtle_white_feathers.png');
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 20px;
    padding-bottom:20px;
}

.icons {
    color: $naranja;
    margin: auto;
    max-width: 90%;
    text-align: center;
    i{
      padding-left: 40px;
      padding-right: 40px;
    }
}

.form{
  .well{
    background-color: #f5f5f54a;
  }
  #errores{
    margin-top: 20px;
  }
  .form-width {
    max-width: 800px;
    margin:auto;
  }
  #texto{
    resize:none;
    height: 150px;
  }
}

#servicios{
  .distributed-icons {
    margin: auto;
  }
}

.btn-primary{
    color: $white;
    background-color: $naranja;
    border-color: $naranja;
}

.vg {
    margin-top: 50px;
}

.parallax{
    padding-left: 10px;
    padding-right: 10px;
    /* The image used */
    background-image: url("../img/1-carretera.jpeg");

    /* Set a specific height */
    height: 500px;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    .descripcionServicio{
      max-width: 800px;
      margin: auto;
      text-align: center;
      color: white;
      text-shadow: 1px 1px $naranja;
      padding-top: 10%;
      h1,h2{
        font-weight: bold;
      }
    }
}

hr {
    border-top: 1px solid $azul2;
    width: 80%;
}


/*-------------------- COMENTARIO USUARIOS ---------------------------------------*/

.content {
    padding-top: 30px;
}

/* Heading */
.heading {
    z-index: 1;
    position: relative;
    text-align: center;
    margin-bottom: 100px;
  h2 {
    font-size: 40px;
    font-weight: 500;
    margin: 0 0 20px;
    color: #444;
  }
  p {
    font-size: 16px;
    font-weight: 300;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    color: #8693a7;
  }
}

.heading:after {
    left: 50%;
    height: 3px;
    width: 50px;
    content: " ";
    bottom: -35px;
    margin-left: -25px;
    position: absolute;
    background: $naranja;
}


/* Team Members */
.team-members {
    width: 100%;
    cursor: pointer;
    overflow: hidden;
    position: relative;
    margin-bottom: 35px;
  .team-avatar {
    position: relative;
    img {
      display: block;
      margin: 0 auto;
      text-align: center;
    }
  }
  .team-avatar:after {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    content: " ";
    position: absolute;
    background: rgba(129, 129, 129, 0.1);
    transition-duration: 300ms;
    transition-property: all;
    transition-timing-function: cubic-bezier(0.7, 1, 0.7, 1);
  }
  .team-desc {
    left: auto;
    bottom: 0;
    width: 100%;
    padding: 0 20px;
    position: absolute;
    opacity: 0;
    color: $white;
    -webkit-transform: translate3d(0, 10%, 0);
    transform: translate3d(0, 10%, 0);
    -webkit-transition: opacity 0.3s;
    -moz-transition: opacity 0.3s;
    -ms-transition: opacity 0.3s;
    -o-transition: opacity 0.3s;
    transition: opacity 0.3s;
    h4 {
      font-size: 22px;
      font-weight: 600;
      margin: 0 0 10px;
      color: $white;
    }
    span {
      display: block;
      font-size: 13px;
      font-weight: 600;
      text-transform: uppercase;
      color: $white;
    }
  }


} //end of team members

.team-members:hover{
  .team-avatar:after {
    background: rgba(47, 60, 72, 0.5);
    transition-duration: 300ms;
    transition-property: all;
    transition-timing-function: cubic-bezier(0.7, 1, 0.7, 1);
  }
  .team-desc {
    -webkit-transform: translate3d(0, -5%, 0);
    transform: translate3d(0, -5%, 0);
    -webkit-transform: translate3d(0, -10%, 0);
    transform: translate3d(0, -10%, 0);
  }
  .team-desc {
    opacity: 1;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    -ms-transition: all 0.4s;
    -o-transition: all 0.4s;
    transition: all 0.4s;
  }

} //end team-members:hover


/*------------------------ PRICING -----------------------------------*/

/*============================================================
BACKGROUND COLORS
============================================================*/
.db-bk-color-one {
    background-color: #f55039;
}

.db-bk-color-two {
    background-color: $azul2;
}

.db-bk-color-three {
    background-color: #47887E;
}

.db-bk-color-six {
    background-color: #F59B24;
}
/*============================================================
PRICING STYLES
==========================================================*/
.db-padding-btm {
    width: 100%;
    margin: auto;
}
.db-button-color-square {
    color: $white;
    background-color: $negro2;
    border: none;
    border-radius: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
}

.db-button-color-square:hover {
    color: $white;
    background-color: $negro2;
    border: none;
}


.db-pricing-eleven {
    margin-bottom: 30px;
    margin-top: 50px;
    text-align: center;
    box-shadow: 0 0 5px $negro2;
    color: $white;
    line-height: 30px;
}

.db-pricing-eleven ul {
    list-style: none;
    margin: 0;
    text-align: center;
    padding-left: 0px;
}

.db-pricing-eleven ul li {
    padding-top: 20px;
    padding-bottom: 20px;
    cursor: pointer;
}

.db-pricing-eleven ul li i {
    margin-right: 5px;
}


.db-pricing-eleven .price {
    background-color: $negro2;
    padding: 40px 20px 20px 20px;
    font-size: 60px;
    font-weight: 900;
    color: $white;
}

.db-pricing-eleven .price small {
    color: #B8B8B8;
    display: block;
    font-size: 12px;
    margin-top: 22px;
}

.db-pricing-eleven .type {
    background-color: #52E89E;
    padding: 50px 20px;
    font-weight: 900;
    text-transform: uppercase;
    font-size: 30px;
}

.db-pricing-eleven .pricing-footer {
    padding: 20px;
}

.db-pricing-eleven.popular {
    margin-top: 10px;
}

.db-pricing-eleven.popular .price {
    padding-top: 80px;
}